body {
	margin: 0%;
	box-sizing: border-box;
	overflow-x: hidden;
	background: rgb(64,64,64);
}

.title{
	text-align: right;
	padding-right: 5%;
	margin-top: 10%;
	margin-right: 15%;
}
.buttons{
	text-align: center;
	margin: 10%;
}
.btn{
	border:0px;
}

.main-pg{
	padding-left: 10%;
}
.main-btn{
	border: 0px;
}	
.input-container {
	margin-top: 5%;
	margin-bottom:5%;
	padding: 1%;
}
.command-container{
	padding: 1%;
}
.dropbtn{
	cursor: pointer;
}

.dropdown-content{
	display: none;
	z-index: 1;
	box-shadow: 0px 8px 16px 0px;
	width: 20%;
	background-color: white;
	padding-left:1%; 
}
.dropdown-content a{
	text-decoration: none;
	display:block;
}
.show{
	display: block;
}




.input-container{
	text-align: center;
	padding-top: 2%;
}
.output-container{
	text-align: center;
	padding: 5%;
}
/*Start of all the modules styles*/
#box{
	background: grey;
	width:250px;
	height:250px;
	display:inline-block;
}
.input{
	width:200px;
}
